<p>Start your free trial now.</p>
<p class="mt-3">Complete the form to start your free trial. Our team will be in touch to help you make the most of the trial.</p>

{{!-- Here form action post method start --}}
<form action="/" method="post">
<div class="row">
    <div class="col-md-6">
        {{!-- Firstname Row start from here --}}
        <div class="row">
            <label for="firstname">
              Firstname <br><input type="text" name="firstname" id="firstname" required>
            </label>
        </div>
        {{!-- Firstname Row end from here --}}
    </div>

    {{!-- Last Name Col Start From Here --}}
    <div class="col-md-6">
        <div class="row">
            <label for="lastname">
              Lastname <br><input type="text" name="lastname" id="lastname" required>
            </label>
        </div>
    </div>
     {{!-- Last Name Col End From Here --}}
</div>

{{!-- EmailID Row Start From here --}}
<div class="row mt-3">
        <div class="row">
            <label for="emailid">
              EmailID <br><input type="email" style="width: 476px;" name="emailid" id="emailid" required>
            </label>
        </div>
    </div>

    {{!-- EmailID Row End From here --}}




{{!-- PhoneNO Row Start From here --}}
<div class="row mt-3">
        <div class="row">
            <label for="phoneno">
              Phone <br><input type="text" style="width: 476px;" name="phoneno" id="phoneno" required>
            </label>
        </div>
    </div>


<div class="row mt-3">
        <div class="row">
            <label for="password">
              Password <br><input type="password" style="width: 476px;" name="password" id="password" required>
            </label>
        </div>
    </div>


<div class="row mt-3">
        <div class="row">
            <label for="confirmpassword">
              ConfirmPassword <br><input type="text" style="width: 476px;" name="confirmpassword" id="confirmpassword" required>
            </label>
        </div>
    </div>

<div class="row">
    <button class="mt-3 bg-primary rounded border border-none text-light fw-bold" type="submit">Submit</button>
</div>


    {{!-- PhoneNO Row End From here --}}
</div>
</form>